.inverse-color  {
    color: #ffffff;
    background-color: #343a40;
}

.post {
    margin-bottom: 20px;
    border: 1px dotted #343a40;
    box-shadow: 1px 1px 1px #ddd;
}

.post .content {
    padding: 20px;
}

.post .interactions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.post .date {
    font-size: 0.8em;
    margin-left: 15px;
}

.post .date .fa {
    margin-right: 5px;
}

.post .score, .post .up, .post .down {
    padding: 0px 5px 0px 5px !important;
    font-size: 1.1em;
}

.post .category {
   margin-left: 15px;
}