.inverse-color  {
    color: #ffffff;
    background-color: #000;
}

.post {
    margin-bottom: 20px;
    border: 1px dotted #000;
    box-shadow: 1px 1px 1px #ddd;
}

.post .content {
    padding: 20px;
}

.post .interactions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.post .date {
    font-size: 0.8em;
    margin-left: 15px;
}

.post .date .fa {
    margin-right: 5px;
}